@import url(https://fonts.googleapis.com/css?family=Oswald);
@import '../styles';

.award {
    font: 1em $primary-font;
    color: $foreground-color;
}

.award-icon {
    width: 2rem;
    height: 2rem;
}

.results-text {
    font: 2.5em $primary-font;
    color: $foreground-color;
}