@import url(https://fonts.googleapis.com/css?family=Oswald);

.header-text {
    font: 3em 'Oswald';
}

.post-link-input {
    width: 95%;
    height: 4rem;
    caret-color: transparent;
    font: 2em Helvetica;
    text-align: center;
}

.post-link-input::placeholder {
    text-align: center;
}