@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Oswald);

$background-color: #282a36;
$foreground-color: #6272a4;
$secondary-color: #44475a;
$green: #50fa7b;
$purple: #bd93f9;
$reddit-orange: #ff5700;
$primary-font: 'Oswald';

.navbar {
    background-color: $background-color;
}

.navbar-brand {
    font-family: 'Lobster';
    color: $foreground-color;

    &:hover {
        color: $purple !important;
    }

    &.logo {
        width: 2em;
        height: 2em;
    }
}

.header-text {
    font: 4em $primary-font;
    color: $foreground-color;
}

.reddit-text {
    display: inline;
    color: $reddit-orange;
}

.url-input {
    width: 95%;
    height: 4rem;

    caret-color: transparent;
    font: 2em $primary-font;
    text-align: center;
    padding-bottom: 0.25em;

    color: $green;
    background-color: $secondary-color;
    border: transparent;
    border-radius: 2rem;
    outline: none;

    &:focus {
        box-shadow: 0 0 0 2px $foreground-color;
    }

    &::placeholder {
        color: $background-color;
    }
}

.error {
    font: 1em $primary-font;
}

.results-text {
    font: 2.5em $primary-font;
    color: $foreground-color;
}